<h1>Edit Settings</h1>
<div class="ui section divider"></div>
<% if @errors %>
  <div class="ui relaxed divided list">
  <% @errors.each do |e| %>
    <div class="item" style="color: darkred">
      <i class="exclamation icon"></i>
      <%= e %>
    </div>
  <% end %>
  </div>
<% end %>
<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <div class="ui form">
        <%= form_for current_user do |f| %>
          <%= render 'info', f: f %>
          <div class="ui centered grid">
            <div class="row">
              <%= f.submit "Update Information", class: 'ui primary button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui centered grid">
        <div class="row">
        <%= form_for current_user, method: :delete do |f| %>
          <%= f.submit "Delete Account", class: 'ui big button' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
<% console %>
