<h1><%= "Welcome #{current_user.first_name}!" %></h1>
<h3>Are you ready to <em>Get Lost</em>?</h3>

<%= link_to "Add an Adventure", adventures_path %>
<br><br>
<%= link_to "Settings", settings_path %>
<br><br>
<p>My Saved Adventures</p>
    <ul>
    <% current_user.adventures.each do |adv| %>
      <li><%= adv.location %></li>
    <% end %>
    </ul>

<br><br>
<%= form_tag logout_path, method: :delete do %>
  <%= submit_tag "logout" %>
<% end %>
