<h1>Sign Up</h1>
<% if @user.errors.messages %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for @user, url: signup_path do |f| %>
  <%= f.label :username, "Choose a username" %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password, "Enter a password" %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation, "Re-type password" %>
  <%= f.password_field :password_confirmation %>
  <br>
  <h2>Basic Information</h1>
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :email, "Email:" %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :address, "Address:" %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :city, "City:" %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :zipcode, "Zip:" %>
  <%= f.number_field :zipcode %>
  <br>
  <%= f.label :state, "State:" %>
  <%= f.text_field :state %>
  <br>
  <%= f.submit "Sign Up" %>
<% end %>
<%= link_to "Already registered? Login", login_path %>
